#t{border:1px solid black ; border-collapse:collapse}
#d{border:1px solid black ; vertical-align:top}
#c{color: #000000;background-color: #cccccc}
#i{vertical-align:middle}
#B1{border-left:blue 1.2em solid;border-bottom:blue 2pt solid;}
#G1{border-left:green 1.2em solid;border-bottom:green 2pt solid;}
#R1{border-left:red 1.2em solid;border-bottom:red 2pt solid;}
#B2{border-left:blue 1.2em solid;border-top:blue 2pt solid;}
#G2{border-left:green 1.2em solid;border-top:green 2pt solid;}
#R2{border-left:red 1.2em solid;border-top:red 2pt solid;}
#A1{text-decoration:underline}
#A1:link{color:#0000BB}
#A1:link img{border-color:blue}
#A1:visited{color:#003377}
#A1:visited img{border-color:blue}
#A1:hover{text-decoration:none;color:white;background-color:#4444bb}
#A1:hover img{border-color:red}

table.t{border:1px solid black ; border-collapse:collapse}
table.t td{border:1px solid black ; vertical-align:top}
table.t th{border:1px solid black ; vertical-align:top}
table.t0{border-collapse:collapse}
table.t0 td{vertical-align:top}
table.t0 th{vertical-align:top}
TD.d{border:1px solid black ; vertical-align:top}
img.i{vertical-align:middle;border-width:1;border-style:solid}
img.b{vertical-align:middle;border-width:1;border-style:solid}
img.n{vertical-align:middle;border:1px solid #cccccc}

P.B1{border-left:blue 1.2em solid;border-bottom:blue 2pt solid;}
P.G1{border-left:green 1.2em solid;border-bottom:green 2pt solid;}
P.R1{border-left:red 1.2em solid;border-bottom:red 2pt solid;}
P.B2{border-left:blue 1.2em solid;border-top:blue 2pt solid;}
P.G2{border-left:green 1.2em solid;border-top:green 2pt solid;}
P.R2{border-left:red 1.2em solid;border-top:red 2pt solid;}
P.B1_2{border-left:lightsteelblue 2.5em solid;border-bottom:lightsteelblue 2pt solid;}
P.G1_2{border-left:darkseagreen 2.5em solid;border-bottom:darkseagreen 2pt solid;}
P.R1_2{border-left:salmon 2.5em solid;border-bottom:salmon 2pt solid;}
P.B2_2{border-left:lightsteelblue 2.5em solid;border-top:lightsteelblue 2pt solid;}
P.G2_2{border-left:darkseagreen 2.5em solid;border-top:darkseagreen 2pt solid;}
P.R2_2{border-left:salmon 2.5em solid;border-top:salmon 2pt solid;}
P.c{color: #000000;background-color: #cccccc}
A.A1{text-decoration:underline}
A.A1:link{color:#0000BB}
A.A1:link img{border-color:blue}
A.A1:visited{color:#003377}
A.A1:visited img{border-color:blue}
A.A1:hover{text-decoration:none;color:white;background-color:#4444bb}
A.A1:hover img{border-color:red}

A.A2{text-decoration:underline}
A.A2:link{color:#FFEEFF}
A.A2:link img{border-color:blue}
A.A2:visited{color:#EEEEEE}
A.A2:visited img{border-color:blue}
A.A2:hover{text-decoration:none;color:white;background-color:#4444bb}
A.A2:hover img{border-color:red}

.red{color:red}
.blue{color:blue}
.green{color:green}
.brown{color:brown}
.gray{color:gray}
.orange{color:orange}
.purple{color:purple}
.white{color:white}
.yellow{color:yellow}
.center{margin-left:auto;margin-right:auto;text-align:center}
.right{float:right;}
b{font-weight:bold}

.quote{padding-left:0em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:7.5pt;
       font-size:7.5pt}
.quote_indent{padding-left:1.5em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:7.5pt;
       font-size:7.5pt}
.quote8{padding-left:0em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:8.5pt;
       font-size:8.5pt}
.quote8_indent{padding-left:1.5em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:8.5pt;
       font-size:8.5pt}
.quote9{padding-left:0em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:9.3pt;
       font-size:9.3pt}
.quote9_indent{padding-left:1.5em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:9.3pt;
       font-size:9.3pt}
.quote10{padding-left:0em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:10pt;
       font-size:10pt}
.quote12{padding-left:0em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:12pt;
       font-size:12pt}
.quote12_indent{padding-left:1.5em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:12pt;
       font-size:12pt}
.quote14{padding-left:0em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:14pt;
       font-size:14pt}
.quote14_indent{padding-left:1.5em;background:#EAEAEA;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:14pt;
       font-size:14pt}


.prog{padding-left:0em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:7.5pt;
       font-size:7.5pt}
.prog_indent{padding-left:1.5em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:7.5pt;
       font-size:7.5pt}
.prog8{padding-left:0em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:8.5pt;
       font-size:8.5pt}
.prog8_indent{padding-left:1.5em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:8.5pt;
       font-size:8.5pt}
.prog9{padding-left:0em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:9.3pt;
       font-size:9.3pt}
.prog9_indent{padding-left:1.5em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:9.3pt;
       font-size:9.3pt}
.prog10{padding-left:0em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:10pt;
       font-size:10pt}
.prog10_indent{padding-left:1.5em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
      line-height:10pt;
       font-size:10pt}
.prog12{padding-left:0em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:12pt;
       font-size:12pt}
.prog12_indent{padding-left:1.5em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
      line-height:12pt;
       font-size:12pt}
.prog14{padding-left:0em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
       line-height:14pt;
       font-size:14pt}
.prog14_indent{padding-left:1.5em;background:#F5F5F5;line-height:100%;
       font-family:'ＭＳ ゴシック', monospace;
      line-height:14pt;
       font-size:12pt}

.quote_white{padding-left:0em;
       font-family:'ＭＳ ゴシック', monospace;
   　　line-height:7.5pt;
       font-size:7.5pt}
.quote_white_indent{padding-left:1.5em;
       font-family:'ＭＳ ゴシック', monospace;
   　　line-height:7.5pt;
       font-size:7.5pt}
.quote8_white{padding-left:0em;
       font-family:'ＭＳ ゴシック', monospace;
   　　line-height:8.5pt;
       font-size:8.5pt}
.quote8_white_indent{padding-left:1.5em;
       font-family:'ＭＳ ゴシック', monospace;
   　　line-height:8.5pt;
       font-size:8.5pt}
.quote10_white{padding-left:0em;
       font-family:'ＭＳ ゴシック', monospace;
   　　line-height:10pt;
       font-size:10pt}
.quote10_white_indent{padding-left:1.5em;
       font-family:'ＭＳ ゴシック', monospace;
   　　line-height:10pt;
       font-size:10pt}

span.root {
   /*font-size:   1.1em;*/
   /*line-height: 1.3;*/
   font-family: 'Arial', 'Tahoma', sans-serif;
   }
span.inRoot {
   text-decoration:overline;
   /*font-size:   0.9em;*/
   /*line-height: 0.9;*/
   font-family: 'Arial', 'Tahoma', sans-serif;
   }

div.indent{padding-left:1.5em}
pre.indent{padding-left:1.5em}

a.naviBase {
   background-image:url('./base_b.gif');
   text-decoration:none;
   height:25px;
   position:absolute;
   top:0px;
   }
a.naviBase:hover {
   background-image:url('./base_r.gif');
   }
a.naviBase2 {
   background-image:url('./base_b.gif');
   text-decoration:none;
   height:25px;
   position:absolute;
   top:0px;
   }
a.naviBase2:hover {
   background-image:url('./base_b_light.gif');
   }
a.naviBase3 {
   background-image:url('./base_g.gif');
   text-decoration:none;
   height:25px;
   position:absolute;
   top:0px;
   }
a.naviBase3:hover {
   background-image:url('./base_r.gif');
   }
span.naviBase {
   color:white;
   font-size:14px;
   font-weight:bold;
   font-family:'ＭＳ ゴシック',monospace;
   text-align:center;
   position:absolute;
   top:3px;
   width:100%;
   }
//span.naviBase:hover {
   //color:white;
   //}
/*
input.B {
   background-image:url("./base_b.gif");
   color:white;
   }
input.B:hover {
   background-image:url("./base_r.gif");
   }
*/
input.B       {background-image:url(./base_g.gif);color:white;}/*height:1.5em;
               font-size:15px}*/
input.B:hover {background-image:url(./base_r.gif)}
input.B:active{background-image:url(./base_y_light.gif)}
input.B2       {background-image:url(./base_b.gif);color:white;}/*height:1.5em;
               font-size:15px}*/
input.B2:hover {background-image:url(./base_r.gif)}
input.B2:active{background-image:url(./base_y_light.gif)}
input.B3       {background-image:url(./base_p.gif);color:white;}/*height:1.5em;
               font-size:15px}*/
input.B3:hover {background-image:url(./base_r.gif)}
input.B3:active{background-image:url(./base_y_light.gif)}
input.B4       {background-image:url(./base_gray.gif);color:white;}/*height:1.5em;
               font-size:15px}*/
input.B4:hover {background-image:url(./base_r.gif)}
input.B4:active{background-image:url(./base_y_light.gif)}

span.naviBaseL {
   color:white;
   font-size:12px;
   font-weight:bold;
   font-family:'ＭＳ ゴシック',monospace;
   text-align:left;
   position:absolute;
   top:4px;
   width:100%;
   }
span.naviComment {
   color:#8080B0;
   font-size:10px;
   font-weight:bold;
   text-align:left;
   overflow:hidden;
   height:25px;
   position:absolute;
   top:5px;
   }
img.naviButton {
   position:absolute;
   top:0px;
   border:0px;
   }
span.naviBar {
   height:25px;
   position:relative;
   top:0px;
   width:100%;
   background-image:url('./base_b.gif');
   background-repeat:repeat-x
   }

audio.l {
   width: 480px;
height:35px;
   }
audio.m {
   width: 390px;
height:35px;
   }
audio.s {
   width: 300px;
height:35px;
   }
audio.ss {
   width: 210px;
height:35px;
   }

div.bar { background-image:url(./base_gray.gif);
          height:1.5em; background-repeat:repeat-x;color:white }

<style type="text/css">
 audio { width: 450px; height:35px;display: block; margin:0px; }
</style>
